/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --main-background-color: #E4E9F7;
    --media-container-background-color: #f9fafc;
    --sidebar-color: #FFF;
    --primary-color: #3339cd;
    --primary-color-hover: #262a9a;
    --primary-color-focus: #1e2178;
    --primary-color-light: #F6F5FF;
    --tooltip-background-color: #2a2a2e;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Bootstrap specific */
    --bs-primary: var(--primary-color);

    /* Sizes */
    --sidebar-width: 88px;
    --sidebar-height-mobile: 60px;
    --media-library-container-width: 220px;
    --results-section-width: 300px;
    --media-height: 80px;
    --media-width: 200px;
    --media-width-mobile: 130px;
    --color-switch-height: 55px;
    --color-switch-width-mobile: 55px;
    --padding-10 : 10px;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

    /* Border Radius   */
    --border-radius-3: 3px;
    --border-radius-6: 6px;
}

body{
    min-height: 100vh;
    background-color: var(--main-background-color);
    transition: var(--tran-05);
    font-size: 14px;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --main-background-color: #18191a;
    --media-container-background-color: #1b1e20;
    --sidebar-color: #242526;
    /*--primary-color: #3a3b3c;*/
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}


/* Buttons */
.btn.btn-primary {
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: var(--primary-color-hover);
    --bs-btn-hover-border-color: var(--primary-color-hover);
    --bs-btn-focus-bg: var(--primary-color-focus);
    --bs-btn-focus-border-color: var(--primary-color-focus);
    --bs-btn-active-bg: var(--primary-color-hover);
    --bs-btn-active-border-color: var(--primary-color-hover);
    --bs-btn-color: #fff;
    --bs-btn-font-size: 14px;
    --bs-btn-border-radius: var(--border-radius-3);
}

.btn.btn-secondary {
    --bs-btn-bg: #fff;
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: var(--primary-color-hover);
    --bs-btn-focus-bg: #fff;
    --bs-btn-focus-border-color: var(--primary-color-focus);
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: var(--primary-color-hover);
    --bs-btn-color: var(--primary-color);
    --bs-btn-hover-color: var(--primary-color-hover);
    --bs-btn-focus-color: var(--primary-color-focus);
    --bs-btn-active-color: var(--primary-color-hover);
    --bs-btn-font-size: 14px;
    --bs-btn-border-radius: var(--border-radius-3);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    text-decoration: underline;
}

body.dark a {
    color: #fff;
    font-weight: 500;
    text-decoration: underline;
}





/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--sidebar-height-mobile);
    width: 100%;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--tooltip-background-color);
    --bs-tooltip-color: #fff;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-box-shadow: 0 0 0.5rem var(--tooltip-background-color);
    --bs-tooltip-border-radius: var(--border-radius-3);
    --bs-tooltip-padding-y: 0.5rem;
    --bs-tooltip-padding-x: 0.5rem;
    --bs-tooltip-font-size: 12px;
    --bs-tooltip-arrow-width: 0;
    --bs-tooltip-arrow-height: 0;
}

.custom-tooltip .tooltip-inner {
    text-align: left;
    max-width: 350px !important;
}

/* ===== Reusable code - Here ===== */
.sidebar {
    display: flex;
}
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}
.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */
.sidebar header{
    position: relative;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}
header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar ul.menu-links {
    padding-left: 0;
}
.sidebar li a{
    list-style: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-3);
    text-decoration: none;
    transition: var(--tran-03);
}
.sidebar li a:hover, .sidebar li.active a{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.sidebar li.active a .icon,
.sidebar li.active a .text
{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text,
body.dark .sidebar li.active a .icon,
body.dark .sidebar li.active a .text
{
    color: var(--text-color);
}
.sidebar .menu-bar{
    width: calc(100% - var(--color-switch-width-mobile));
    height: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;
}
.sidebar .menu-bar .menu {
    display: none;
    background: var(--sidebar-color);
}
.sidebar .menu-bar .menu.mobile-open {
    position:absolute;
    display: initial;
    top: -5px;
    z-index:2;
}

.menu-bar::-webkit-scrollbar{
    display: none;
}

/* Active Menu Display */
.active-menu-display {
    height: 100%;
}

.active-menu-display .active-menu {
    height: 100%;
}

.active-menu-display .active-menu a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* Color Scheme Chooser */
.sidebar .menu-bar #ColorSchemeMode{
    border-radius: var(--border-radius-3);
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
    display: flex;
}
.menu-bar #ColorSchemeMode .sun-moon{

}
#ColorSchemeMode .sun-moon{

}
#ColorSchemeMode .sun-moon i{
    align-items: center;
    justify-content: center;
    min-width: 30px;
    margin-left: 5px;
}
#ColorSchemeMode .sun-moon i.moon{
    display:none;
}
body.dark #ColorSchemeMode .sun-moon i.moon{
    display:flex;
}
body.dark #ColorSchemeMode .sun-moon i.sun{
    display:none;
}
.menu-bar .bottom-content .toggle-switch{
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
    z-index:1;
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}
body.dark .switch::before{
    left: 20px;
}






/* Main Content of the page */
.body-contents{
    background-color: var(--main-background-color);
    transition: var(--tran-05);
    flex-direction: column;
    margin-top: var(--sidebar-height-mobile);
}

.body-contents .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

body.dark .body-contents .text{
    color: var(--text-color);
}



/* Media Library Container */
.media-library-container {
    padding: var(--padding-10);
    background: var(--media-container-background-color);
    display: flex;
    flex-direction: row;
    height: calc(var(--media-height) + (var(--padding-10) * 2));
    width: 100%;
    overflow-x: auto;
}

body.dark .media-library-container {
    color: white;
}

.media-library-container .media-library-inner {
    flex: 1;
    /*overflow-y: auto;*/
}

.media-library-container .small-description {
    font-size: 12px;
    display: none;
}

.media-library-container .media-library {
    display: flex;
}

.media-library-container .media-library .single-media {
    width: var(--media-width-mobile);
    height: var(--media-height);
    flex-shrink: 0;
    overflow: hidden;
    border: 3px solid transparent;
    border-radius: var(--border-radius-6);
    margin-bottom: 5px;
    opacity: 0.3;
    cursor: pointer;
}

.media-library-container .media-library .single-media.active {
    opacity: 1;
    border: 3px solid var(--primary-color);
}

.media-library-container .media-library .single-media img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-3);
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.media-upload-controls-container {
    width: var(--media-width);
    height: var(--media-height);
    flex-shrink: 0;
    font-size: 0.7rem;
}

.media-upload-controls-container button {
    font-size: 0.7rem;
}




/* Image Preview Container */
.image-preview-container {
    width: 100%;
    height: 300px;
}

.image-preview-container .image-preview-inner {
    width: 100%;
    height: 100%;
}

.image-preview-container .image-preview-inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}









/* Results Section Width */
.results-container {
    padding: var(--padding-10);
    background: var(--media-container-background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-right: 20px;
}

body.dark .results-container {
    color: white;
}

.results-container .single-result {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.results-container .single-result .color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.results-container .single-result .name {
    font-size: 12px;
    margin-right: 10px;
    flex-grow: 1;
}

.results-container .single-result .score {
    width: 30px;
}









/* Screen bigger than mobile, i.e. 768px */
@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }

    .sidebar {
        height: 100%;
        width: var(--sidebar-width);
        flex-direction: column;
    }

    .sidebar .active-menu-display {
        display: none;
    }

    .sidebar .menu-bar {
        height: calc(100% - var(--color-switch-height));
        width: initial;
        flex-direction: column;
        overflow-y: auto;
    }

    .sidebar .menu-bar .menu{
        margin-top: 40px;
        display: initial;
    }

    .sidebar .menu-bar .menu.mobile-open {
        position:initial;
        display: initial;
    }

    .sidebar .menu-bar #ColorSchemeMode{
        flex-direction: column;
    }

    #ColorSchemeMode .sun-moon i {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .body-contents {
        position: absolute;
        top: 0;
        left: var(--sidebar-width);
        height: 100vh;
        width: calc(100% - var(--sidebar-width));
        flex-direction: row;
        margin-top: 0;
    }

    .media-library-container {
        height: 100vh;
        width: var(--media-library-container-width);
        flex-direction: column;
        overflow: hidden;
    }

    .media-library-container .media-library-inner {
        overflow-y: auto;
        height: calc(100vh - var(--media-height));
    }

    .media-library-container .media-library {
        flex-direction: column;
    }

    .media-library-container .media-library .single-media {
        width: var(--media-width);
        height: var(--media-height);
        margin-bottom: 10px;
    }

    .media-upload-controls-container {
        height: var(--media-height);
    }

    .media-library-container .small-description {
        font-size: 12px;
        display: block;
    }

    .image-preview-container {
        height: 100%;
        flex-grow: 1;
    }

    .results-container {
        width: var(--results-section-width);
        height: 100%;
    }
}